// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$blue: #1792E5;
$darkBlue: #1b73af;
$warning: #EE3124;
$white: #FFFFFF;
$disableGrey: #BFBFBF;
$disableTextGrey: #A0A0A0;

// $fontFolder: '../resources/fonts/';
$imageFolder: '../assets/images/';

$logoWidth: 361px; // copied from sprite css
$logoHeight: 56px;

$headerHeight: 86px;

$footerBackground: #404040;
$footerHeight: 90px;
